body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left bottom,  #003333, rgba(245, 145, 3, 0.961));
    font-family: monospace, sans-serif;
    color: #fff;
}
.container {
    background: rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    width: 86%;
    max-width: 451px;
    min-width: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.heading{
    font-size: 32px;
}
.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px; 
}
input{
    width: 200px;
    font-family: monospace;
    float: right;
    padding: 5px;
    outline: none;
    background: rgba(255, 248, 248, 0.95)
    background-color: rgba(255,248,248,0.285);
    color: darkwhite;
    font-size: 18px
}
input::placeholder {
    color: darkgrey;
}